
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 346px;
    align-items: center;
}

.card {
    margin: 1em;
}

.form-check {
    padding-left: 2.5em;
    margin: 5px;
}

.btn {
    padding-right: 1.75em;
    padding-left: 1.75em;
}