/* HOME VIEW CSS */

/* GOOGLE FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

/* JUMPING TITLE ANIMATION */
h1 {
	cursor: default;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	margin-top: 2em;
	margin-bottom: 2em;
	display: block;
	text-align: center;
	font-family: 'Comfortaa', cursive
}

h1 span {
	display: inline-block;
	-webkit-animation: bounce 0.9s ease infinite alternate;
	font-size: 80px;
	color: chocolate;
	text-shadow: 0 1px 0 #9ea483, 0 2px 0 #9ea483, 0 3px 0 #9ea483, 0 4px 0 #9ea483,
	0 5px 0 #9ea483, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
	0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
	100% {
		top: -20px;
		text-shadow: 0 1px 0 #9ea483, 0 2px 0 #9ea483, 0 3px 0 #9ea483, 0 4px 0 #9ea483,
		0 5px 0 #9ea483, 0 6px 0 #9ea483, 0 7px 0 #9ea483, 0 8px 0 #9ea483, 0 9px 0 #9ea483,
		0 50px 25px rgba(0, 0, 0, 0.2);
	}
}

/* HEADER IMAGE */
#jalopy1 {
	max-width: 300px;
	display: block;
	margin: 0 auto;
}

/* SWITCH BUTTON */
#img-button {
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	background-color: #bbc29b;
	color: white;
}

/* PARAGRAPH TEXT */
.homeText {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	font-family: 'PT Sans Narrow', sans-serif
}

/* FOOTER PLACEMENT */
footer {
	text-align: center;
	font-size: 9px;
	margin-top: 1em;
	font-family: 'Comfortaa', cursive;
}

/* VERSION ICON */
#jalopyIcon {
	width: 3px;
	height: 3px;
}
